@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


@import "tailwindcss";

/* Base font
html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

#map, #mapGedung {
  height: 90vh;
  width: 100%;
}

.info.legend {
  line-height: 18px;
  background: white;
  padding: 6px 8px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  font-size: 12px;
  color: #555;
}

.province-label {
  background: rgba(255,255,255,0.9);
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  white-space: nowrap;
  border-radius: 4px;
}

.leaflet-tooltip.building-label {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
}

.search-container {
  background: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 300px;
} */
